<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PM2.5數據圖</title>
    <script src="https://cdn.jsdelivr.net/npm/echarts@5.3.3/dist/echarts.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <style>
        #main{
            width: 800px;
            height: 400px;
        }
    </style>
</head>
<body>
    <h1>PM2.5數據圖</h1>
    <div id="main"></div>
    <script src="{{url_for('static',filename='./js/pm25_chart.js')}}"></script>
</body>
</html>